body.boxed {
  background: url("/img/pattern/arches.png") repeat;
}
#top > .navbar {
  border-top: 3px solid #333;
}
#top > .navbar .dropdown-menu > li > a:hover,
#top > .navbar .dropdown-menu > li > a:focus {
  background-color: #333;
  color: #fff;
}
#menu {
  background-color: #333 !important;
}
#menu > li > a {
  color: #fff;
  text-shadow: none !important;
}
.sidebar-left-mini #menu > li > a > .link-title {
  background-color: #292929 !important;
}
